
*{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    background-color: rgb(2, 2, 2);
    color: whitesmoke;
}

label{
    display:inline-block;
    min-width:80px;
    text-align: left;
    font-weight: 600;
    margin: 5px;
}

button{
    height: 30px;
    background-color: cadetblue;
    color: whitesmoke;
    margin: 3em;
    
}

button:hover{
    background-color: teal;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}

